* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 18px;
    font-style: normal;
}

.conteiner {
     width: 375px;
     background-color: #F4F4F4;
     
}

body {
    background-color:#E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


header {
    background: #1B83E2;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #F4F4F4;

}

main {
    padding: 24px;
}

label {
    font-size: 14px;
    color: #777777;
}

select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    height: 48px;
    display: block;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
}

input {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    height: 48px;
    display: block;
    width: 100%;
    border-radius: 10px;
    outline: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    
}

button {
    background: #1B83E2;
    border-radius: 25px;
    width: 100%;
    height: 48px;
    margin-top: 24px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: #F4F4F4;
    margin-top: 24px;
    margin-bottom: 36px;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    border: 1px solid #1B83E2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}


.section-conteiner {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.currency-name {
    font-size: 14px;
    color: #777777;
}

.currency-value{
    font-size: 20px;
    color: #1B83E2;
    font-weight: bold;
}

